[submodule "externals/django-wysiwyg"]
	path = externals/django-wysiwyg
	url = git://github.com/pydanny/django-wysiwyg.git
[submodule "externals/django-vdboor"]
	path = externals/django-vdboor
	url = https://vdboor.homelinux.net/git/django-vdboor.git
