language: python
sudo: false
cache: pip
python:
- '3.6'
- '3.4'
- '2.7'
env:
- PACKAGES="django>=1.10,<1.11 django-polymorphic<2.0"
- PACKAGES="django>=1.11,<1.12"
- PACKAGES="django>=2.0,<2.1"
matrix:
  exclude:
  - python: '2.7'
    env: PACKAGES="django>=2.0,<2.1"
  include:
  - python: '3.6'
    env: PACKAGES="django>=2.1,<2.2"
before_install:
- pip install -U pip wheel setuptools
- pip install codecov
install:
- pip install $PACKAGES -e .[tests]
script:
- coverage run --source=fluent_pages runtests.py
after_success:
- codecov
branches:
  only:
  - master
notifications:
  irc:
    channels:
    - irc.freenode.org#django-fluent
    template:
    - '%{repository}#%{build_number} (%{commit}) %{message}  --  %{build_url}'
    skip_join: true
  email:
    recipients:
    - travis@edoburu.nl
    on_success: never
    on_failure: always
  slack:
    secure: NhdY1hGdd8Z1shDm/g8M5sxbR2J8yVa0X/vmn3y05dZzW3FV4ktgIey6vZOA77Z3TtMbd3XXzWZaniVsp29HaBRxr0EVyk4zyR8i12cAnjIMox2/cWxjM92NkKufRMyW8wxPJsxNEMegOuanxZu72xHGxUYqySqQRCpTnWDk6RI=
    on_success: never
    on_failure: always
