include AUTHORS
include README.rst
include LICENSE.rst
recursive-include fluent_pages/locale *.mo *.po
recursive-include fluent_pages/pagetypes/fluentpage/static *
recursive-include fluent_pages/pagetypes/fluentpage/templates *.html
recursive-include fluent_pages/static *
recursive-include fluent_pages/templates *.html
recursive-include fluent_pages/tests/testapp/templates *.html
