{% extends base_change_form_template %}{# = "admin/fluent_pages/page/change_form.html" #}
{% load i18n %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript">fluent_layouts.ct_id = {{ content_type_id }};</script>
{% endblock %}

{% block after_first_fieldset %}
{# the inlines for django-fluent-contents, to show the PlaceholderEditor first #}
<div id="fluent_contents_inlines">
  {% for inline_admin_formset in inline_admin_formsets %}
    {% if inline_admin_formset.opts.is_fluent_editor_inline %}
      {% include inline_admin_formset.opts.template %}
    {% endif %}
  {% endfor %}
</div><!-- /fluent_contents_inlines -->
{% endblock %}

{% block inline_field_sets %}
{# remaining inlines added by pagetypes #}
<div id="fluent_contents_inlines">
  {% for inline_admin_formset in inline_admin_formsets %}
    {% if not inline_admin_formset.opts.is_fluent_editor_inline %}
      {% include inline_admin_formset.opts.template %}
    {% endif %}
  {% endfor %}
</div><!-- /fluent_contents_inlines -->
{% endblock %}
