{# The admin_form only displays the WYSWIYG editor, no form labels etc.. in front of it #}
        {% for fieldset in inline_admin_form %}
          {% for line in fieldset %}
            {% for adminfield in line %}

              {% if adminfield.field.is_hidden %}
                {{ adminfield.field }}
              {% else %}
                <div class="form-row{% if adminfield.errors %} errors{% endif %}">
                  {{ adminfield.field }}
                </div>
              {% endif %}

            {% endfor %}
          {% endfor %}
        {% endfor %}
