
/* ---- Editor items ---- */

.inline-related h2.cp-formset-item-title {
  /* only keep the controls */
  background: none;
  padding: 0;
  margin:  10px 0 0 0;
  font-size: 12px;
  color: #7CA0C7;
}

.inline-related h2.cp-formset-item-title span.title {
  border-bottom: 1px solid #7CA0C7;
  padding: 2px 2px 1px 2px;
}
