{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia wysiwyg %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}ecms/admin.css" />{% endblock %}

{% block extrahead %}{{ block.super }}
{% wysiwyg_setup %}
<script type="text/javascript" src="{{ MEDIA_URL }}ecms/admin.js"></script>
<script type="text/javascript">
  // Pass database data to the admin.js file.
  var regions   = [ {% for region in original.layout.regions.all %}{ key: '{{ region.key|escapejs }}', title: '{{ region.title|escapejs }}', role: '{{ region.role|escapejs }}' }{% if not forloop.last %}, {% endif %}{% endfor %} ];
  var formsets  = [ {% for formset in inline_ecms_formsets %}{name: '{{ formset.rel_name|escapejs }}', auto_id: '{{ formset.auto_id|escapejs }}' }{% if not forloop.last %}, {% endif %}{% endfor %} ];
  ecms_admin.setRegions( regions );
  ecms_admin.setFormSets( formsets )
</script>{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
     {% for p in parent_object.breadcrumb %}
       <a href="../{{ p.id }}/">{{ p.title }}</a> &rsaquo;
     {% endfor %}
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}<div id="content-main">
{# overrule toolbar #}
{% block object-tools %}
{% if change and not is_popup %}
  <ul class="object-tools">
    <li><a href="../add/?parent={{ original.id }}" class="addlink">{% trans "Add Subpage" %}</a></li>
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if original.is_published %}<li><a href="{{ original.url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
  </ul>
{% endif %}
{% endblock %}

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}
</div>


{# Different layout for fieldsets:  #}
{# - Display first fieldset on top. #}
{# - remaining in a properties tab. #}

{% for fieldset in adminform %}
  {% if forloop.first %}
  {% include "admin/includes/fieldset.html" %}
  {% endif %}
{% endfor %}

<div id="ecms-tabbar"{% if not original.layout %} style="display:none"{% endif %}>
  <ul id="ecms-tabnav" class="ecms-clearfix">
    {% for region in original.layout.regions.all %}
    <li class="ecms-region{% if forloop.first %} active{% endif %}"><a href="#tab-region-{{ region.key }}">{{ region.title }}</a></li>
    {% endfor %}
    <li id="ecms-tabnav-loading" style="display: none"><a href="#">{% trans "Loading layout data..." %}</a></li></li>
    <li id="ecms-tabnav-orphaned" style="display: none"><a href="#tab-orphaned">{% trans "Orphaned content" %}</a></li>
    <li><a href="#tab-properties">{% trans "Properties" %}</a></li>
  </ul>

  <div id="ecms-tabmain">
    {% for region in original.layout.regions.all %}

    <div class="ecms-tab ecms-region-tab{% if forloop.first %} ecms-tab-active{% endif %}" id="tab-region-{{ region.key }}">

      <div class="ecms-region-empty">
        {% trans "Region empty" %}
      </div>

      {# todo: currently hardcode the pageitem editor #}
    </div>

    {% endfor %}

    <div class="ecms-tab" id="tab-orphaned">

    </div>

    <div class="ecms-tab" id="tab-properties">
      <div id="ecms-fieldset-secondary">

        {% for fieldset in adminform %}
          {% if not forloop.first%}
          {% include "admin/includes/fieldset.html" %}
          {% endif %}
        {% endfor %}

      </div><!-- /ecms-fieldset-secondary -->
    </div>

  </div><!-- /ecms-tabmain -->
</div><!-- /ecms-tabbar -->

{% submit_row %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}


{# The inlines are defined here so the information is available in the page. #}
{# Visually however, they are reorganized across the various region tabs #}
<div id="inlines" style="display: none;">
{% for formset in inline_ecms_formsets %}
  <div id="{{ formset.rel_name }}">
    <div class="header">
      {{ formset.management_form }}
    </div>

    {% for form in formset.forms %}
      {{ form.errors }}
      <div id="{{ formset.rel_name }}_item_{{ forloop.counter0 }}">
        {% for field in form %}
          {% if field.is_hidden %}
            {{ field }}
          {% else %}
            <div class="form-row{% if field.errors %} errors{% endif %}">
              {{ field }}
            </div>
          {% endif %}
        {% endfor %}
        {# wysiwyg_editor "id_cmstextitem-0-text" #}
      </div>
    {% endfor %}
  </div>
{% endfor %}
</div><!-- /inlines -->

</form>

</div><!-- /content-main -->
{% endblock %}
