{% load i18n %}
  <div id="{{ inline_admin_formset.formset.prefix }}-group" class="inline-group">
    {{ inline_admin_formset.formset.management_form }}
    {{ inline_admin_formset.formset.non_form_errors }}

    {# looping in `inline_admin_formset.formset.forms` excludes empty form #}
    {# looping in `inline_admin_formset` includes the empty placeholder as last item #}
    {% for inline_admin_form in inline_admin_formset %}
      {% with inline_admin_form.form as form %}
      <div class="inline-related inline-{{ inline_admin_form.model_admin.type_name }}{% if forloop.last %} empty-form last-related{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
        <h2 class="ecms-formset-item-title">
          {{ inline_admin_formset.opts.name }}
          <span class="ecms-item-controls">
            <span class="ecms-item-move">
              <a class="ecms-item-up" href="#up">u</a>
              <a class="ecms-item-down" href="#down">d</a>
            </span>
            <span class="ecms-item-delete"><a href="#delete">x</a>{% if inline_admin_formset.formset.can_delete and inline_admin_form.original %}{{ inline_admin_form.deletion_field.field }}{% endif %}</span>
          </span>
        </h2>

        {# render the form fields. Each Content Type can override it. Default is "admin/ecms/cmspageitem/admin_form.html". #}
        {% block formfields %}
          {% include inline_admin_formset.opts.ecms_admin_form_template %}
        {% endblock %}

        {% if inline_admin_form.has_auto_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
        {{ inline_admin_form.fk_field.field }}
      </div>
      {% endwith %}
    {% endfor %}
  </div>
