{% load i18n %}
      <div class="ecms-region-empty">
        {% trans "Region empty" %}
      </div>
      <div class="ecms-tab-content">
      </div>
      <div class="ecms-tab-controls">
        <select>{% for category_name, plugins in add_plugin_categories.items %}
          {% if category_name %}<optgroup label="{{ category_name }}">{% endif %}
            {% for plugin in plugins %}
              <option value="{{ plugin.type_name }}">{{ plugin.verbose_name }}</option>
            {% endfor %}
          {% if category_name %}</optgroup>{% endif %}
          {% endfor %}
        </select>
        <input data-region="{{ region_key }}" class="button ecms-plugin-add-button" type="button" value="{% trans "Add" %}" />
      </div>