{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript">fluent_layouts.ct_id = {{ content_type_id }};</script>
{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
     {% for p in parent_object.breadcrumb %}
       <a href="../{{ p.id }}/">{{ p.title }}</a> &rsaquo;
     {% endfor %}
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}<div id="content-main">
{# overrule toolbar #}
{% block object-tools %}
{% if change and not is_popup %}
  <ul class="object-tools">
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if original.is_published %}<li><a href="{{ original.url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
  </ul>
{% endif %}
{% endblock %}

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}
</div>

{# Different layout for fieldsets:  #}

{# first fieldset #}
{% for fieldset in adminform %}
  {% if forloop.first %}{% include "admin/includes/fieldset.html" %}{% endif %}
{% endfor %}

{# inlines, for django-fluent-contents #}
<div id="inlines">
  {% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
  {% endfor %}
</div><!-- /inlines -->


    <div class="ecms-tab" id="tab-properties">
      <div id="ecms-fieldset-secondary">

        {# all remaining fieldsets #}
        {% for fieldset in adminform %}
          {% if not forloop.first %}{% include "admin/includes/fieldset.html" %}{% endif %}
        {% endfor %}

      </div><!-- /ecms-fieldset-secondary -->
    </div>

{% submit_row %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}


</form>

</div><!-- /content-main -->
{% endblock %}
