# for readthedocs
Django >= 1.8.5
django-fluent-contents >= 1.0.2
django-fluent-utils >= 1.1.4
django-mptt >= 0.7.4
django-parler >= 1.5
django-polymorphic-tree >= 1.1.1
django-polymorphic >= 0.7.1
django-tag-parser >= 2.1
future >= 0.12.2
six >= 1.5.2
